:host {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
}

ng-mdx-remote-render{
    width: 100%;
    background: var(--gradient_01_upward);
    border-radius: 1.5rem;
    padding: 1rem;
}

@media (max-width: 768px) {
    :host {
        margin : 0;
    }

}
